* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(36, 36, 36);
}

.centered {
  position: absolute;
  top: 50%;
  /*transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);*/

  /*font-size: 20px;*/
}